{% extends "layout.html" %}

{% block body %}

<h1>Agregar Tareas</h1>
<form action="{{ url_for('agregar')}}"method = "POST">
    <input type ="texto" name="tarea" placeholder="agregar nueva tarea">
    <button>Agregar</button>
</form>
{% endblock %}