{% extends "layout.html" %}
{% block body %}

<h1>Lista de tareas</h1>

<ul>
    {% for tarea in tareas %}
    <li>{{ tarea }}</li>
    {% endfor %}

</ul>
<a href="{{ url_for('agregar')}}">Agregar nueva tarea</a>
{% endblock %}